flowsforIBM.json
[{"id":"541c5dcb.4c2424","type":"http request","z":"4db2ef77.e60dd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":240,"wires":[["aeecb872.18eef8"]]},{"id":"c02eefec.18704","type":"function","z":"4db2ef77.e60dd","name":"PreToken","func":"global.set(\"race\",msg.payload.race)\nglobal.set(\"gender\",msg.payload.gender)\nglobal.set(\"medicalspecialty\",msg.payload.medicalspecialty)\nglobal.set(\"acarbose\",msg.payload.acarbose)\nglobal.set(\"miglitol\",msg.payload.miglitol)\nglobal.set(\"troglitazone\",msg.payload.troglitazone)\nglobal.set(\"tolazamide\",msg.payload.tolazamide)\nglobal.set(\"insulin\",msg.payload.insulin)\nglobal.set(\"glyburidemetformin\",msg.payload.glyburidemetformin)\nglobal.set(\"glipizidemetformin\",msg.payload.glipizidemetformin)\nglobal.set(\"change\",msg.payload.change)\nglobal.set(\"ageid\",msg.payload.ageid)\nglobal.set(\"diabetesMed\",msg.payload.diabetesMed)\nvar apikey=\"QEPWKPShi10cnLdmF8rJPs2Geej8kCgpVvhiM1-bbAaa\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["541c5dcb.4c2424"]]},{"id":"11b7570b.f9a6e9","type":"inject","z":"4db2ef77.e60dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["c02eefec.18704"]]},{"id":"87b84984.9f0ad8","type":"debug","z":"4db2ef77.e60dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":240,"wires":[]},{"id":"aeecb872.18eef8","type":"function","z":"4db2ef77.e60dd","name":"Pre Prediction","func":"var race=global.get(\"race\")\nvar gender=global.get(\"gender\")\nvar medicalspecialty=global.get(\"medicalspecialty\")\nvar acarbose=global.get(\"acarbose\")\nvar miglitol=global.get(\"miglitol\")\nvar troglitazone=global.get(\"troglitazone\")\nvar tolazamide=global.get(\"tolazamide\")\nvar insulin=global.get(\"insulin\")\nvar glyburidemetformin=global.get(\"glyburidemetformin\")\nvar glipizidemetformin=global.get(\"glipizidemetformin\")\nvar change=global.get(\"change\")\nvar ageid=global.get(\"ageid\")\nvar diabetesMed=global.get(\"diabetesMed\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"6e91cd73-52bd-48bb-8f77-247556f30e9d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\":[\"race\",\"gender\",\"medical_specialty\",\"acarbose\",\"miglitol\",\"troglitazone\",\"tolazamide\",\"insulin\",\"glyburide-metformin\",\"glipizide-metformin\",\"change\",\"diabetesMed\",\"age_id\"],\"values\":[[race,gender,medicalspecialty,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburidemetformin,glipizidemetformin,change,diabetesMed,ageid]]}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["b720233d.326c7"]]},{"id":"b720233d.326c7","type":"http request","z":"4db2ef77.e60dd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/6e91cd73-52bd-48bb-8f77-247556f30e9d/deployments/217ccec7-e841-49d5-a9ad-13f76daa887b/online","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":240,"wires":[["83e29c8f.b3fc6"]]},{"id":"f4d099da.434c18","type":"ui_form","z":"4db2ef77.e60dd","name":"","label":"","group":"44a0707e.f2163","order":0,"width":0,"height":0,"options":[{"label":"Enter Your  race","value":"race","type":"number","required":true,"rows":null},{"label":"Enter your gender","value":"gender","type":"number","required":true,"rows":null},{"label":"medicalspecialty","value":"medicalspecialty","type":"number","required":true,"rows":null},{"label":"acarbose","value":"acarbose","type":"number","required":true,"rows":null},{"label":"miglitol","value":"miglitol","type":"number","required":true,"rows":null},{"label":"troglitazone","value":"troglitazone","type":"number","required":true,"rows":null},{"label":"tolazamide","value":"tolazamide","type":"number","required":true,"rows":null},{"label":"insulin","value":"insulin","type":"number","required":true,"rows":null},{"label":"glyburide-metformin","value":"glyburidemetformin","type":"number","required":true,"rows":null},{"label":"glipizide-metformin","value":"glipizidemetformin","type":"number","required":true,"rows":null},{"label":"change","value":"change","type":"number","required":true,"rows":null},{"label":"diabetesMed","value":"diabetesMed","type":"number","required":true,"rows":null},{"label":"ageid","value":"ageid","type":"number","required":true,"rows":null}],"formValue":{"race":"","gender":"","medicalspecialty":"","acarbose":"","miglitol":"","troglitazone":"","tolazamide":"","insulin":"","glyburidemetformin":"","glipizidemetformin":"","change":"","diabetesMed":"","ageid":""},"payload":"","submit":"Predict","cancel":"later","topic":"","x":90,"y":340,"wires":[["c02eefec.18704"]]},{"id":"30a988e7.817df8","type":"ui_text","z":"4db2ef77.e60dd","group":"44a0707e.f2163","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"col-center","x":1100,"y":480,"wires":[]},{"id":"83e29c8f.b3fc6","type":"function","z":"4db2ef77.e60dd","name":"huhu","func":"msg.payload=msg.payload.values[[0][0]]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["35bad90e.ad6ee6","87b84984.9f0ad8"]]},{"id":"35bad90e.ad6ee6","type":"switch","z":"4db2ef77.e60dd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":460,"wires":[["b0f5d60d.aa9b78"],["638149ce.388738"]]},{"id":"b0f5d60d.aa9b78","type":"template","z":"4db2ef77.e60dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"will join","output":"str","x":960,"y":420,"wires":[["30a988e7.817df8"]]},{"id":"638149ce.388738","type":"template","z":"4db2ef77.e60dd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"will not join","output":"str","x":960,"y":520,"wires":[["30a988e7.817df8"]]},{"id":"44a0707e.f2163","type":"ui_group","z":"","name":"hosipital readmission","tab":"7162caf1.6f3ff4","disp":true,"width":"6","collapse":false},{"id":"7162caf1.6f3ff4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]